<!DOCTYPE html><html>
    <title>This is shown in the Tab Header</title>
    <head>This is the first thing shown on the page</head>
    <body>This is the main page
        <br>
        The BR tag makes a new line
        <b>This is bold</b>
        <i>This is in italics</i>
        <ul>
            <li>This</li>
            <li>is</li>
            <li>A </li>
            <li>List</li>
        </ul>
        <p>This is a block of formatted text
        </p>
        <br>
        <a href="http://www.google.com">This links to google.com</a>
    </body>
</html>